@model TempPdfViewModel

<div class="container class="justify-content-center">
        <h2>ОБЩ БРОЙ СВАЛЕНИ ФАЙЛОВЕ: @Model.PdfFileCount</h2>
        @if (@Model.TempPdfModels.Count() >= 3)
        {
            <h4 class="text-danger mt-2">Може да се премине към следващата стъпка - Generate new BRS-files.</h4>
        }
    
    
    <div class="row">

        
    @foreach (var pdf in Model.TempPdfModels)
    {
    
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@pdf.OriginalName</h5>
                            <p class="card-text">Size: @pdf.SizeOfFile</p>
                        </div>
                    </div>
                </div>
    }
    </div>
</div>

