@{
    ViewBag.PleasePdf = "МОЛЯ, ИЗЧАКАЙТЕ!";
    ViewBag.DownloadingPdf = "СВАЛЯТ СЕ PDF-файловете ...";
}


<h1 class="text-center justify-content-center mt-5 mb-5">@ViewBag.PleasePdf</h1>
<h3 class="mt-5 justify-content-center text-center"><em>@ViewBag.DownloadingPdf</em></h3>

