@model TempPdfViewModel

@{
    ViewBag.PleasePdf = "МОЛЯ, ИЗЧАКАЙТЕ!";
    ViewBag.DownloadingPdf = "СВАЛЯТ СЕ PDF-файловете ...";
}
<div class="container" bg-secondary text-center align-items-center p-5">
    <div class="mt-5 mb-5">
        <h1 class="text-center mt-5 mb-5">@ViewBag.PleasePdf</h1>
        <h2 class="mt-5 text-center"><em></em>@ViewBag.DownloadingPdf</h2>
    </div>
</div>

