@{
    ViewBag.Please = "МОЛЯ, ИЗЧАКАЙТЕ!";
    ViewBag.Downloading = "ГЕНЕРИРАТ СЕ BRS-файловете";
}


<div class="container bg-gradient-warning text-center align-items-center m-5 p-5">
    <div class="mt-5 mb-5">
        <h1 class="text-center mt-5 mb-5">@ViewBag.Please</h1>
        <h3 class="mt-5 text-center"><em>@ViewBag.Downloading</em></h3>
    </div>
</div>
