@model List<BrsOnlyContent>
    
@{
    ViewBag.Title = "Всички нови съобщения от BCPEA";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var message in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <p class="card-title mt-1">@message.Text</p>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




@*@{
    ViewBag.Please = "МОЛЯ, ИЗЧАКАЙТЕ!";
    ViewBag.Downloading = "ГЕНЕРИРАТ СЕ BRS-файловете";
}


<div class="container bg-gradient-warning text-center align-items-center m-5 p-5">
    <div class="mt-5 mb-5">
        <h1 class="text-center mt-5 mb-5">@ViewBag.Please</h1>
        <h3 class="mt-5 text-center"><em>@ViewBag.Downloading</em></h3>
    </div>
</div>
*@