<div class="container text-center align-items-center bg-info p-5">
            <div class="mt-5 mb-5">
                    <h1 class="text-center mt-5 mb-5">ОБРАБОТВАНЕ НА ПУБЛИЧНИ ПРОДАЖБИ</h1>
                    <h3 class="mt-5 text-center"><em>СВАЛЯНЕ НА СЪОБЩЕНИЯ С ПУБЛИЧНИ ПРОДАЖБИ ОТ BCPEA</em></h3>
                    <h3 class="mb-5 text-center"><em>И КОНВЕРТИРАНЕ В ТЕКСТОВИ ФАЙЛОВЕ /BRS-FILES/</em></h3>
	        	    <h3 class="mt-5 mb-5 text-center"><a href="https://sales.bcpea.org/properties">ЛИНК КЪМ САЙТ BCPEA - ПУБЛИЧНИ ПРОДАЖБИ</a></h3>
            </div>
</div>
